h3
{
   color: #6EA5C9;
   font-size: 20px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   text-transform: uppercase;
   text-align:center;
   margin-bottom:20px;
   margin-top:10px;
}

.art-content-layout {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.art-postcontent h4
{
   color: #6EA5C9/*#397298*/;
   /*margin-top: 20px;
   margin-bottom: 20px;*/
   font-size: 16px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight:normal;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan,.art-subslogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, li
{
   margin: 0;
   padding: 0;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a 
{
   text-align: left;
}

.plan_detail_view td, .plan_detail_view th
{
	border: 1px solid #B6AFB1;	
	/*padding:2px;*/
}

.art-article th, .art-article td
{
   padding: 4px;
   /*vertical-align: top;*/
   vertical-align: middle;
   /*text-align: left;*/
}

.plan_detail_view td, .plan_detail_view th
{
	border: 1px solid #B6AFB1;	
	/*padding:2px;*/
}

.plan_detail_view {
    font-size: 15px !important;
}

.art-postcontent, .art-postheadericons, .art-postfootericons, .art-blockcontent, ul.art-vmenu a {
    text-align: left;
}

body {
    padding: 0;
    margin: 0;
    min-width: 1000px;
    color: #404040;
}

.art-postcontent, .art-postcontent li, .art-postcontent table, .art-postcontent a, .art-postcontent a:link, .art-postcontent a:visited, .art-postcontent a.visited, .art-postcontent a:hover, .art-postcontent a.hovered {
    font-family: Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
}

.plan_detail_view {
    font-size: 15px !important;
}

.art-article table, table.art-article {
    border-collapse: collapse;
}

.art-post {
    background: transparent;
    border: 1px dashed transparent;
    padding: 1px;
    margin: 1px;
    min-height: 600px;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox::before, .art-radiobutton::before {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox::before, .art-radiobutton::before {
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
}

#art-main {
    background: #FFFFFF url('../images/page.png') fixed;
    margin: 0 auto;
    font-size: 13px;
    font-family: Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0px;
    top: 0px;
}










