<html>
<head>
    <link type="text/css" rel="stylesheet" href="src/main/resources/de/hhbk/wizardpdfgen/generator/visualize.css"/>
    <link type="text/css" rel="stylesheet" href="src/main/resources/de/hhbk/wizardpdfgen/generator/style.css"/>
</head>
<body>
<h3>Detailanzeige</h3>
<h4>Abteilung: {{abteilung}}</h4>
<h4>Ausbildungsberuf: {{beruf}}</h4>
<h4>Ausbildungsjahr: {{jahr}}</h4>
<h4>Unterichtsform: {{unterrichtsform}}</h4>
<h4>Bildungsgangleitung: {{anrede}} {{bildungsgangleitung}}</h4>
<table>
    <tbody>
    {{#fachs}}
    <tr><td colspan="4"><strong>Fach: </strong>{{{description}}}</td></tr>
    {{#lernfelds}}
    <tr><td colspan="4"><strong>Lernfeld {{lfid}}: </strong>{{{description}}}</td></tr>
    {{#lernsituations}}
    <tr><td colspan="4"><strong>Anforderungssituation : </strong>ohne Bezug</td></tr>
    <tr>
        <td class="lsnr"><strong>Lernsituation {{lsnr}}: </strong>{{name}}</td>
        <td class="ustunden"><strong>Dauer:</strong> {{ustunden}} UStd</td>
        <td class="lsi">ID: {{lsid}}</td>
        <td class="strangeid">-1</td>
    </tr>

    <tr><td colspan="4" width="360" valign="top"><strong>Einstiegsszenario:</strong><br/>{{{szenario}}}</td></tr>
    <tr display="{{displayhandlungsprodukt}}"><td colspan="4" valign="top" width="360"><strong>Handlungsprodukt/Lernergebnis:</strong><br/>{{{handlungsprodukt}}}</td></tr>

    <tr display="{{displaykompentenzen}}"><td colspan="4" valign="top"><strong>Wesentliche Kompetenzen:</strong><br/>{{{kompentenzen}}}</td></tr>
    <tr display="{{displayinhalte}}"><td colspan="4" valign="top"><strong>Inhalte:</strong><br/>{{{inhalte}}}</td></tr>

    <tr display="{{displayumaterial}}"><td colspan="4"><strong>Unterrichtsmaterialien:</strong><br/>{{{umaterial}}}</td></tr>
    <tr display="{{displayorganiation}}"><td colspan="4"><strong>Organisatorische Hinweise:</strong><br/>{{{organiation}}}</td></tr>

    <tr display="{{displayarbeitstechniken}}"><td colspan="4"><strong>Lern- und Arbeitstechniken:</strong><br/>{{{arbeitstechniken}}}</td></tr>
    <!--TODO Nachweise-->
    <tr display="{{displaynachweis}}"><td colspan="4"><strong>Leistungsnachweis: {{nachweise}}</strong><br/> </td></tr>
    {{/lernsituations}}
    {{/lernfelds}}
    {{/fachs}}
    </tbody>
</table>
</body></html>